<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <label>Noun: </label><input [(ngModel)]="noun" placeholder="noun"/>
  <label>Verb: </label><input [(ngModel)]="verb" placeholder="verb"/>
  <h3>Angular is <span [style.width.px]="mySize">{{ noun }}</span> fun! 
    It is built using the <span>{{ verb }}</span> design pattern.</h3>
</div>
<div>
  <h2>
    Variations of Previous Example!
  </h2>
  <!-- Binds value to the result of expression userName. -->
  <input [(ngModel)]="userName">
  <p>{{ userName }}</p>	

<div>
  The product of 10 x 10 = {{10 * 10}}
</div>
<h4 [hidden]="hideTitle">
  Angular is so awesome!
</h4>

</div>